.app {
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

button {
  border: 1px solid #000000;
  background: transparent;
  padding: 10px;
}

section {
  padding: 20px 0;
}

.article {
  margin-left: 15px;
}